.container-fluid {
  padding-right: 0;
  padding-left: 0;
  height: 100%;

  .show-row {
    height: 100%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.side-bar {
  background-color: #4f5d6d;
  box-shadow: 0.01rem 0.01rem 1rem 0.2rem #000 inset;
  height: 100%;
}

.main-body {
  height: 100%;
  background-color: #eeeeee;
}

.body-header {
  height: 7%;
  background-color: #cccccc;
  box-shadow: #333333 0.02rem 0.01rem 0.1rem;
}

.body-body {
  height: 90%;

  padding: 0.4rem 0 0 0.4rem;

  .no-content-info {
    font-size: 0.5rem;
    font-weight: 300;
    color: #8c8c8c;
    letter-spacing: 0.2rem;
  }

  .body-switch {

  }
}

.side-bar-link-button {
  font-size: .3rem;
  height: 0.4rem;
  width: 1.4rem;
  line-height: 0.4rem;
  text-align: center;
  vertical-align: middle;
  background: #3a1462;
  border: 1px #599114 solid;
  border-radius: 0.08rem;
  color: #e3fdff;
  //font-weight: bold;
  display: inline-block;
  text-decoration: none;
  outline: none;
  margin: 0.2rem 0 0rem 0.46rem;
}
