server{
    listen 80;
    server_name happy-login.com;

    access_log /data/applogs/happy-login.log;
    error_log /data/applogs/happy-login-error.log;

    location ^~ /api/ {
        proxy_pass http://127.0.0.1:3000;
    }

    location / {
        root /Users/zhenggui/workspace/github/happy-login/frontend/dist;
        index  index.html;
        try_files $uri /index.html;
    }
}